#loginCard {
  border: 1px solid;
  border-radius: 25px;
  width: 20rem;
  height: 30rem;
}

#registerCard {
  border: 1px solid;
  border-radius: 25px;
  width: 20rem;
  height: 20rem;
}

#todosCard {
  border: 1px solid;
  border-radius: 25px;
  width: 20rem;
  background-color: cadetblue;
}

#loginSubmit {
  width: 100%
}

#registerSubmit {
  width: 100%
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.g-signin2 {
  width: 100%;
}

.g-signin2 > div {
  margin: 0 auto;
}